## Leer archivo excel

In [2]:
import pandas as pd

# Leer el archivo Excel
data = pd.read_excel(r'C:\Users\chris\OneDrive\Desktop\Cursos\ETL\Curso_ETL\data\Ventas.xlsx')

# Mostrar las primeras filas
print(data.head())

    Region      Producto Vendedor  Ventas
0  Central    Accesorios    David    8287
1  Central    Accesorios    Karen    6909
2  Central  Dispositivos    David   11420
3  Central  Dispositivos    Karen   12948
4  Central      Sistemas    David   20098

##  Conectar con SQL üíªüìä

In [4]:
## Crear base de datos SQLite

import sqlite3

# Crear o conectar a la base de datos
conn = sqlite3.connect("sales.db")
cursor = conn.cursor()

# Crear tabla de clientes
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    customer_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT UNIQUE
)
""")

# Crear tabla de transacciones
cursor.execute("""
CREATE TABLE IF NOT EXISTS transactions (
    transaction_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    date TEXT,
    amount REAL,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
)
""")

# Insertar registros en customers
customers_data = [
    (1, 'Juan P√©rez', 'juan@example.com'),
    (2, 'Ana Garc√≠a', 'ana@example.com'),
    (3, 'Luis G√≥mez', 'luis@example.com')
]
cursor.executemany("INSERT OR IGNORE INTO customers VALUES (?, ?, ?)", customers_data)

# Insertar registros en transactions
transactions_data = [
    (1, 1, '2025-07-01', 150.50),
    (2, 2, '2025-07-03', 200.75),
    (3, 1, '2025-07-05', 99.99),
    (4, 3, '2025-07-06', 300.00)
]
cursor.executemany("INSERT OR IGNORE INTO transactions VALUES (?, ?, ?, ?)", transactions_data)

# Guardar cambios y cerrar
conn.commit()
conn.close()

In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("sales.db")

try:
    df = pd.read_sql_query("SELECT * FROM transactions", conn)
    df2=pd.read_sql_query("SELECT * FROM customers", conn)
    print(df.head())
    print(df2.head())
except Exception as e:
    print(f"Error ejecutando la consulta: {e}")
finally:
    conn.close()

   transaction_id  customer_id        date  amount
0               1            1  2025-07-01  150.50
1               2            2  2025-07-03  200.75
2               3            1  2025-07-05   99.99
3               4            3  2025-07-06  300.00
   customer_id        name             email
0            1  Juan P√©rez  juan@example.com
1            2  Ana Garc√≠a   ana@example.com
2            3  Luis G√≥mez  luis@example.com

## Usar un API üíªüå¶Ô∏è‚òÅÔ∏è

In [10]:
latitude = 18.4861
longitude = -69.9312

url = f"https://api.open-meteo.com/v1/forecast?latitude={latitude}&longitude={longitude}&current_weather=true"
response = requests.get(url)

if response.status_code == 200:
    weather_data = response.json()
    df = pd.json_normalize(weather_data['current_weather'])
    print(df.head())
else:
    print(f"Error en la solicitud: {response.status_code}")

               time  interval  temperature  windspeed  winddirection  is_day  \
0  2025-07-16T03:00       900         24.2        4.2            329       0

   weathercode
0            1